<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h5>Secciones</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Web</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Local</a></li>
          <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">API</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h5>Tipos de productos</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Paginas Web</a></li>
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">App Web</a></li>
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Programas de escritorio</a></li>
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted">Programas locales conectdas a BD</a></li>
              </ul>
      </div>
    </div>
    </div>
    <hr>
      <p>© 2021 Company, Inc. All rights reserved.</p>
  