<div class="row contacto animate__fadeIn">

    <h4 class="redes">Mis redes:</h4>
    <br><br>
    <div class="redes">
        <div class="col-sm-4 cont">
            <a href="https://www.instagram.com/matiasgandolfi/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    
        <div class="col-sm-4 cont">
    
            <a href="https://github.com/matiasgandolfi?tab=repositories"><i class="fa-brands fa-github git2"></i></a>
        </div>
        
        <div class="col-sm-4 cont">
    
            <a href="/contacto"><i class="fa-solid fa-envelope"></i></a>
        </div>

    </div>
</div>