<div class="container-fluid">
    <div class="cabecera">  
        <div class="animate__fadeInDownBig">
            <div class="col-sm-6">
                <div class="presentacion-sm-6">
                    <img src="assets/img/perfil1.png" alt="#">
                     <div class="Perfil-text">
                        <h1 class="nom">Matias Gandolfi Perez</h1>
                        <h1 class="front">Full Stack Developer</h1>
                     </div>   
                 </div>
            </div>
        </div>
    </div>
</div>
