<div calss="skills">
    <h4>Web</h4>
    <img src="assets/img/javascript.svg" class="icon" alt="">
    <img src="assets/img/html.svg" class="icon" alt="">
    <img src="assets/img/css.png" class="icon" alt="">
    <img src="assets/img/angular.png" class="icon" alt="">
    <img src="assets/img/react.png" class="iconReact" alt="">

    <p></p>


    <h4>Local</h4>
    <img src="assets/img/c++.svg" class="icon3" alt="">
    <img src="assets/img/c-sharp.png" class="icon3" alt="">
    <img src="assets/img/net.png" class="icon3" alt="">

    <p></p>

    <h4>App conectada a servidor</h4>
    <img src="assets/img/asp.png" class="icon" alt="">
    <img src="assets/img/node.png" class="icon" alt="">
    <img src="assets/img/sql.svg" class="icon2" alt="">
    <img src="assets/img/Mongo2.svg" class="icon2" alt="">



</div>