<div class="row">



    <div class="col-sm-4">
      <a href="/web">
      <div class="card" style="width: 18rem;">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <i class="fa-solid fa-globe"></i>
          <div class="card-body">
            <h5 class="card-title">Web</h5>
            <p class="card-text">Le creamos su sitio web para que su proyecto este presente la web y multiples usuario puedan acceder en todas partes del mundo</p>
            <a href="/web" class="btn btn-primary">Ir al Producto</a>
          </div>
        </div>
      </a>
      </div>
      
      
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <a href="/local">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <i class="fa-brands fa-windows"></i>
            <div class="card-body">
            <h5 class="card-title">Local</h5>
            <p class="card-text">Programas de escritorio agiles y practicos para que pueda correr en computadora personal</p>
            <a href="local" class="btn btn-primary">Ir al Producto</a>
          </div>
        </a>
        </div>
      </div>
      
      
    
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <a href="/api">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <i class="fa-solid fa-database"></i>
          <div class="card-body">
            <h5 class="card-title">App conectada Base de Datos</h5>
            <p class="card-text">Le crearemos una API REST y una base de datos para que su apliacion sea corrida en multiples plataformas
              Web, local y movil</p>
            <a href="/api" class="btn btn-primary">Ir al Producto</a>
          </div>
        </a>
        </div>
      </div>
      
  </div>
  