<div class="container-fluid">
    <div class="animate__fadeInRight">
        <div class="row">
            
                <div class="col-sm-6">
                    <h2 >Bienvenido a mi web personal</h2>    
                    <p>Mi nombre es Matias Gandolfi <br>Estamos para ayudarle, en lo que necesite<br>
                    Creamos programas y servicios informaticos para 
                    solucionar sus problemas de las maneras mas eficientes</p>

                    <button type="button" class="btn btn-dark">
                        <i class="fa-brands fa-github"></i>
                        Github
                    </button>
                    <button type="button" class="btn btn-info">
                        <i class="fa-solid fa-file-lines"></i>
                        Curriculum Vitae
                    </button>


                </div>
            
                <div class="col-sm-6">
                    <h2>Experiencias</h2>
                    <app-skills></app-skills>
                </div>
            
        </div>
    </div>
</div>