.api{
    height: 120%;
}

.icon{
    height: 50px;
}

.icon2{
    height: 70px;
}

.icon3{
    height: 50px;
    margin: 5px;
}

.iconReact{
    height: 50px;
    color: blue;
}

.txt-cont{
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
}

